<log4net>
	<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
		<!-- which file to write to-->
		<file value="receiver.log" />
		<!-- append to file each time process starts -->
		<appendToFile value="true" />
		<!-- start new log file based on date -->
		<rollingStyle value="Date" />
		<!-- start new log file each day -->
		<datePattern value="yyyyMMdd" />
		<!-- number of log files to keep -->
		<maxSizeRollBackups value="5" />
		<!-- pattern of log entries -->
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %-5level %logger %message%newline%exception" />
		</layout>
	</appender>
	<root>
		<!-- log trace and above -->
		<level value="TRACE" />
		<!-- using the appender above -->
		<appender-ref ref="RollingLogFileAppender" />
	</root>
</log4net>
